body {
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    width: 90vw;
    max-width: 600px;
    margin: 0 auto;
    padding: 30px; /* ここで余白を追加 */
    box-sizing: border-box;
}

#currentTimer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-row {
    display: flex;
    justify-content: center;
    align-items: center; /* ボタンを中央揃え */
    margin-bottom: 10px;
    width: 100%;
}

.toggle-button {
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    position: relative;
    outline: none;
}

.toggle-slider {
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 9px;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: transform 0.3s ease-in-out;
}

.toggle-button.rest-mode .toggle-slider {
    transform: translateX(20px);
}

.timer-label {
    font-size: 2em;
    color: #555;
    text-align: center;
    min-width: 80px; /* 幅を調整 */
    cursor: pointer; /* ホバー時にポインターを表示 */
    font-weight: normal; /* デフォルトは通常 */
}

.timer-label.active {
    font-weight: bold;
    color: black;
}
.timer-row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#workTimeDisplay,
#restTimeDisplay {
    font-size: 5em;
    color: black;
    min-width: 100px;
    text-align: center;
}

#currentPomodoroCount {
    font-size: 5em;
    cursor: pointer;
    padding: 0 0.3em;
}

#totalTimeDisplay {
    font-size: 3em;
    color: gray;
    text-align: center;
    margin-top: 20px;
}

#historyContainer {
    margin-top: 40px;
    text-align: center;
}

#historyContainer div {
    font-size: 1.5em;
    color: #555;
    margin-bottom: 5px;
    user-select: text;
}