body {
    font-family: 'PT Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    margin: 0;
    color: black;
}

.timer-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.total-time-display > span,
.total-time-display > span#toggle {
    display: inline-block;
}

.current-pomodoro-display > span,
.current-pomodoro-display > span#currentPomodoroCount {
    display: inline-block;
}

.time {
    font-size: 2em;
}

.mode-toggle {
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
}

.current {
    font-size: 3em;
    font-weight: bold;
}

#currentPomodoroCount {
    font-size: 3em;
    margin: 0 15px;
    cursor: pointer;
}

#historyContainer {
    font-size: 1.5em;
}

.history div {
    padding: 5px;
}

footer {
    margin-top: 20px;
    font-size: 1em;
}

footer a {
    color: gray;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}